* {
  padding : 0;
  margin : 0;
  font-family: "Century Gothic", 'Lato', sans-serif;
}
  
#main {
  min-height:100vh; /* 1 */
  display:flex; /* 2 */
  flex-direction:column; /* 3 */
}

#milieu {
  flex-grow:1; /* 4 */
  display:flex;
}
  
header{
  text-align: center;
  background-color: #d8e2dc;
  background-color: #fff;
}
  
.magasin {
  font-family: 'Source Sans Pro', sans-serif;
}
 
header .magasin {
  font-size: 80px;
  padding: 40px;
  letter-spacing: 35px;
}
  
a {
  text-decoration: none;
  color:black;
}
  
.logo{
  float: left;
  max-width: 170px;
  min-width: 170px;
  margin-top: 50px;
  margin-left: 2%;
  width:10%;
}
  
.bouton{
  float: right;
}
  
.liste-navigation {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: rgb(183,9,76);
  background: linear-gradient(90deg, rgba(183,9,76,1) 0%, rgba(0,145,173,1) 100%);
}
  
.navElement {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 1rem;
  color: white;
}
  
.navElement:hover, .actif {
  color: black;
  background: white;
  transition: all 0.5s ease;
}
  
.blocGauche {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 18%;
  min-width: 180px;
  max-width: 250px;
  margin: 20px 2%;
}
  
.menu{
  margin: auto;
  width: 150px;
  text-align: center;
  letter-spacing: 0.1rem;
}
  
.menu li{
  list-style : none;
  padding: 10px 10px;
  position: relative;
}
  
.menu li:hover {
  border: 2px solid #b4d9e0;
}
  
.menu .magasin {
  letter-spacing: 8px;
  font-size: 20px;
  padding: 15% 0;
}
  
.menu .contact {
  padding-bottom: 20px;
}
  
.partiePrincipale{
  max-height: 40em;
  text-align: center;
  width: 80%;
  margin-left: 20px;
  overflow:scroll;
  overflow-x: hidden; /* On cache le scrollbar horizontal */
  margin-top: 20px;
  height: 532px;
}
  
.partiePrincipale h1{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-size: 30px;
  padding-bottom: 20px;
  letter-spacing: 0.3rem;
  color: #264653;
}

   
audio {
  background-color: white;
}
  
table img {
  cursor: pointer;
  width:100px;
  height: 100px;
  display: inline-block;
}

  
footer{
  text-align:center;
  background-color: #1a1a1a;
  color: rgba(255, 255, 255, 0.6);
  padding-top: 15px;
}
    
footer a {
  color:rgba(255, 255, 255, 0.6);
}
    
footer i {
  color:rgba(255, 255, 255, 0.2);
}
    
footer p {
  margin-bottom: 5px;
}
    
footer hr {
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  overflow: visible;
  text-align: center;
  margin: auto;
  height: 16px;
  width: 80%;
}
    
footer hr:after {
  background: #1a1a1a;
  content: ' Z  I  C  A  D  O ';
  color: rgba(255, 255, 255, 0.2);
  padding: 0 4px;
  position: relative;
  top: -10px;
}
    
.ligneAlbums {
  display: flex;
  align-items: center;
  width: 100%;
}

.colonneLarge {
  width: 7%;
}

table {
  border-spacing: 15px 2rem;
  margin:auto;
}
table .titre {
  width : 150px;
}

.commandePan {
  padding-top:32px
}

.commande button {
  margin-left: 15px;
}


@media screen and (min-width: 1500px) {
  .colonneLarge {
    width: 18%;
  }

  table .titre {
    width : 350px;
  }
}
/**********************/

.panier {
  display: flex;
  float: left;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 80px;
  padding: 7px 5px;
  border-radius: 2rem;
  color:  #3a3a3a ;
}

.panier input {
  cursor: pointer;
  /* margin-left: 2px; */
  border:none;
  width:40px;
  background-color: transparent;
  font-size: 20px;
  color:   #676767 ;
  border-radius: 100%;
}

.panier input:hover {
  outline: none;
  box-shadow: inset 0 2px 12px -4px #c5d1d9;
}

.panier .moins {
  color: white;
}

.panier input:focus {
  outline: none;
}

.panier .quantite {
  padding: 0 6px;
}

.panier .inputQte {
  font-size: 17px;
  width:25px;
  padding: 0 0;
}

.panier .inputQte:hover {
  box-shadow:none;
}

/***************** Bouton play pause *******************/
.commande {
  display: inline;
}
.boutonPlayPause {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 7px 5px;
  width: 80px;
  height: 80px;
  border-radius: 100%;
  cursor: pointer;
  border:none;
  font-size: 20px;
}

.boutonPlayPause:hover {
  outline: none;
  box-shadow: inset 0 2px 12px -4px #c5d1d9;
}

.boutonPlayPause:focus {
  outline: none;
}

/***********/

.ajoutPanier {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 7px 5px;
  cursor: pointer;
  border:none;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.ajoutPanier:hover {
  outline: none;
  box-shadow: inset 0 2px 12px -4px #c5d1d9;
}

.ajoutPanier:focus {
  outline: none;
}

.haut {
  border: none;
  color: black;
  background: white;
  letter-spacing: 0.1rem;
  padding: 5px 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.haut:hover {
  border: none;
  box-shadow: inset 0 2px 12px -4px #c5d1d9;
}

.haut:focus {
  outline: none;
}

.bis {
  padding: 15px 15px;
}